 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Programming</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Java, C, C++, Python</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Mobile</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Android SDK</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Web</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Node.js, React, Bootstrap, JavaScript, HTML, CSS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Database</p>
                    </div>
                    <div class="col-xs-7">
                        <p>MySQL, MongoDB, SQLite, XQuery, XML, Parse</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Tooling</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Junit, Agile, Git, Maven, JIRA, Perforce, Vim, Intellij, Eclipse, Jenkins</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Others</p>
                    </div>
                    <div class="col-xs-7">
                        <p>RESTful API, Assembly, Spring, Linux, AWS EC2/RDS, Arduino</p>
                    </div>
                </div>
            </div>
        </div>
    </section>