 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-2" align="right">
                    <p>Programming</p>
                    <p>Mobile</p>
                    <p>Web</p>
                    <p>Database</p>
                    <p>Data Analysis</p>
                    <p>Others</p>
                </div>
                <div class="col-xs-5">
                    <p>Java, C, Python</p>
                    <p>Android</p>
                    <p>Node.js, Bootstrap, JavaScript, HTML, CSS</p>
                    <p>SQL, MongoDB, XQuery, XML</p>
                    <p>Matlab, R</p>
                    <p>JUnit, Git, AWS, Assembly Language</p>

                </div>
            </div>
        </div>
    </section>